<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/headerFragment :: headerFragment"></head>

<body>
<div class="container mt-5 d-flex justify-content-center align-items-center" style="flex-direction: column; height: 100%;">
    <h1>Inscription des Visiteurs</h1>

    <!-- Formulaire d'inscription de visiteur -->
    <form id="visiteurForm" class="mb-4">
        <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom" required>
        </div>
        <div class="mb-3">
            <label for="prenom" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="prenom" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" required>
        </div>
        <div class="mb-3">
            <label for="solde" class="form-label">Solde</label>
            <input type="number" step="0.01" class="form-control" id="solde" required>
        </div>
        <button type="submit" class="btn btn-primary">S'inscrire</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Gestion du formulaire d'inscription
        document.getElementById('visiteurForm').addEventListener('submit', function (e) {
            e.preventDefault();

            const nom = document.getElementById('nom').value;
            const prenom = document.getElementById('prenom').value;
            const email = document.getElementById('email').value;
            const solde = document.getElementById('solde').value;

            fetch("http://localhost:9090/api/v1/visiteurs/saveVisiteur", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    nom_visiteur: nom,
                    prenom_visiteur: prenom,
                    email_visiteur: email,
                    solde_visiteur: solde
                }),
            })
            .then(response => {
                if (response.ok) {
                    alert("Inscription réussie !");
                } else {
                    alert("Erreur lors de l'inscription.");
                }
            })
            .catch(error => console.error("Erreur:", error));
        });
    });
</script>
</body>
<footer class="footer-section">
    <head th:insert="fragments/footerFragment :: footerFragment"></head>
</footer>
</html>
